{% extends "base.html" %}

{% block title %} Car Modification {% endblock title %}
    
{% block body %}


    <div class="container my-2 mx-0">
      <h5>Modification transforms your vehicle into a personalized masterpiece</h5>
      <p>
        Car modification is a process of altering a vehicle's appearance or performance from its factory
        specifications. It involves making changes to various components of the car, both externally and
        internally, to enhance its aesthetics, functionality, and overall performance. Car modification
        can range from subtle cosmetic changes to extensive mechanical upgrades, depending on the
        preferences and requirements of the car owner. Here's a detailed description of different 
        aspects of car modification:</p>
  <br>
    </div>



    <div class="mx-2">

      <h4><center><em>Full Body Kit Modification of Honda Civic 2016 to Honda Civic Type-R</em></center></h4>
      <!--Honda Civic 2016 Front and Rear-->
        <center><div class="container-fluid">
          <div class="row">
              <div class="col-md-6">
                  <div id="carouselExample1">
                      <div class="carousel-inner">
                          <div class="carousel-item active" style="margin-top: 10px;">
                              <img src="/static/Civic.jpg" alt="image1" width="480" height="400">
                          </div>
                      </div>
                  </div>
              </div>
      
        <!--Honda Civic Upgraded Front and Rear-->
        <div class="col-md-6">
            <div id="carouselExample2">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/Type_r.jpg" alt="image3" width="460" height="400">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div></center><br>






  <div class=" my-5 mx-2">

    <h4><center><em>Full Body Kit Modification of Honda Accord V MT 2011</em></center></h4>
    <!--Honda Civic 2016 Front and Rear-->
      <center><div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExample1">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="margin-top: 2px;">
                            <img src="/static/before_modify.jpg" alt="image1" width="480" height="260">
                        </div>
                    </div>
                </div>
            </div>
    
      <!--Honda Civic Upgraded Front and Rear-->
      <div class="col-md-6">
          <div id="carouselExample2">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="/static/after_modify.jpg" alt="image3" width="460" height="250">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div></center><br>



<div class=" my-5 mx-2">

    <h4><center><em>Modified Mahindra Thar looks aggressively perfect for Weekend Safaris</em></center></h4>
    <!--Honda Civic 2016 Front and Rear-->
      <center><div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div id="carouselExample1">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="margin-top: 2px;">
                            <img src="https://img.indianautosblog.com/resize/750x-/2021/04/09/modified-mahindra-thar-camo-front-3-quarters-2-80bf.jpeg" alt="image1" width="480" height="320">
                        </div>
                    </div>
                </div>
            </div>
    
      <!--Honda Civic Upgraded Front and Rear-->
      <div class="col-md-6">
          <div id="carouselExample2">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="/static/modifythar1.jpg" alt="image3" width="460" height="320">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div></center><br>







    <h5><b>Performance Modifications:</b></h5>
    <p>
       <b>Engine Tuning:</b> This involves adjusting the engine's parameters to optimize power and 
        efficiency. It may include modifications to the fuel system, ignition system, and airflow.<br>
       <b>Exhaust System Upgrades:</b> Upgrading the exhaust system can improve performance by enhancing 
        exhaust flow and providing a more aggressive sound.<br>
       <b>Suspension Enhancements:</b> Modifying the suspension can lead to better handling, improved ride
        comfort, and altered ride height.<br>
    </p>
    
    <h5><b>Exterior Modifications:</b></h5>
    <p>
       <b>Body Kits:</b> Aftermarket body kits can change the car's appearance by adding spoilers, side
        skirts, and front/rear bumpers for a sportier or more aggressive look.<br>
       <b>Custom Paint Jobs:</b> Changing the car's color or applying custom paint schemes can personalize
        its appearance.<br>
       <b>Lighting Upgrades:</b> Upgrading headlights, taillights, or adding LED accents can enhance 
        visibility and aesthetics.<br>
    </p>

    <h5><b>Interior Modifications:</b></h5>
    <p>
       <b>Custom Upholstery:</b> Upgrading the interior with premium materials, colors, and patterns can
        provide a luxurious and personalized feel.<br>
       <b> Audio System Upgrades:</b> Installing high-quality speakers, amplifiers, and subwoofers can 
        enhance the in-car entertainment experience.<br>
       <b>Interior Lighting:</b> LED lighting kits can be added for ambient lighting and a modern look.<br>
    </p>
    
    <h5><b>Wheel and Tire Upgrades:</b></h5>
    <p>
       <b>Alloy Wheels:</b> Upgrading to aftermarket alloy wheels not only improves aesthetics but can 
        also enhance performance.<br>
       <b>Performance Tires:</b> Choosing tires based on driving conditions and preferences can impact 
        grip, handling, and ride comfort.<br>
    </p>
    
    <h5><b>Brake System Upgrades:</b></h5>
    <p>
       <b>Performance Brake Pads and Rotors:</b> Upgrading brake components can improve stopping power and
        reduce brake fade during intense driving.
    </p>
    
    <h5><b>Suspension Enhancements:</b></h5>
    <p>
      <b>Lowering or Lifting Kits:</b> Adjusting the ride height can impact handling and aesthetics.
      <b>Upgraded Shocks and Struts:</b> Improving the suspension system can enhance ride quality and
       control.
    </p>
    
    <h5><b>Engine Modifications:</b></h5>
    <p>
      <b>Cold Air Intake:</b> This modification improves airflow to the engine, potentially increasing
       horsepower.<br>
      <b>Turbocharger or Supercharger:</b> Forced induction systems can significantly boost engine power.<br>
       Performance Camshafts and Cylinder Heads: Upgrading these components can improve engine
       efficiency and power.<br>
    </p>
    
    <h5><b>Transmission Upgrades:</b></h5>
    <p>
      <b> Performance Clutch Kits:</b> Upgrading the clutch can improve shifting and control.<br>
      <b>Transmission Cooler Installations:</b> Cooling systems can be added to enhance the efficiency of
       the transmission.<br>
    </p>
  </div>
{% endblock body %}