{% extends "base.html" %}

{% block title %} Car Repairing {% endblock title %}
    
{% block body %}
  
    <div class="container my-2 mx-0">
      <h5>Reliable repairs, unmatched quality – your car deserves the best</h5>
      <P>
        Car repairing refers to the process of identifying, diagnosing, and rectifying issues or
        damages in a vehicle to ensure its proper functioning, safety, and performance. It involves
        a wide range of tasks, from routine maintenance to addressing complex mechanical or 
        electrical problems. Car repair services are performed by skilled mechanics or technicians
        who have expertise in automotive systems and components. Let's delve into more detail for
        each type of car repair service:</P>
    </div>
 



  <div class="mx-2">
   <h4><center><em>Flawless Repairs for your flawless drive at Ebaad CarzWorld</em></center></h4>

   <!-- Repairing 1 and 2 -->
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-6 text-center">
               <div id="carouselExample1" class="carousel">
                   <div class="carousel-inner">
                       <div class="carousel-item active" style="margin-top: 10px;">
                           <img src="/static/repair1.jpg" alt="image1" width="500" height="210">
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-md-6 text-center">
               <div id="carouselExample2" class="carousel">
                   <div class="carousel-inner">
                       <div class="carousel-item active">
                           <img src="/static/repair2.jpg" alt="image2" width="500" height="210">
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <br>

   <!-- Repairing 3 and 4 -->
   <div class="container-fluid">
       <div class="row">
           <div class="col-md-6 text-center">
               <div id="carouselExample3" class="carousel">
                   <div class="carousel-inner">
                       <div class="carousel-item active my-2">
                           <img src="/static/repair3.jpg" alt="image3" width="500" height="210">
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-md-6 text-center">
               <div id="carouselExample4" class="carousel">
                   <div class="carousel-inner">
                       <div class="carousel-item active my-2">
                           <img src="/static/repair_last.jpg" alt="image4" width="500" height="230">
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>


<div class="mx-2">
 <p>
   <h5><b> Routine Maintenance: </b></h5>
      <b>Oil Change:</b>
         <ol>
            <li>Drain old engine oil and replace it with fresh, high-quality oil.</li>
            <li>Replace the oil filter to ensure proper filtration of contaminants.</li>
         </ol>
   
      <b>Fluid Checks:</b>
      <ol>
         <li>Inspect and top up essential fluids, including coolant, brake fluid, power steering fluid,
            and transmission fluid.</li>
         <li>Address any leaks or fluid-related issues.</li>
      </ol>

      <b>Brake Inspection:</b>
      <ol>
         <li>Check brake pads for wear and replace them if needed.</li>
         <li>Inspect brake rotors for damage and resurface or replace as necessary.</li>
         <li>Ensure proper brake fluid levels and address any leaks.</li>
      </ol><br>
   
   <h5><b>Engine Repairs:</b></h5>
      <b>Diagnostics:</b>
         <ol>
            <li>Use diagnostic tools to identify and troubleshoot engine-related issues.</li>
            <li>Address problems such as misfires, sensor malfunctions, or unusual engine noises.</li>
         </ol>

      <b>Tune-ups:</b>
         <ol>
            <li>Replace spark plugs and ignition coils.</li>
            <li>Adjust ignition timing and fuel injection for optimal performance.</li>
         </ol>

      <b>Timing Belt Replacement:</b>
       <ol>
         <li>Replace the timing belt at recommended intervals to prevent engine damage.</li>
         <li>Inspect and replace other timing components if necessary.</li></ol><br>
       </ol>
   
   <h5><b>Transmission Services:</b></h5>
      <b>Transmission Fluid Change:</b>
         <ol>
            <li>Drain old transmission fluid and replace it with the manufacturer-recommended type.</li>
            <li>Inspect the transmission pan and filter for any debris.</li>
         </ol>

      <b>Transmission Repair:</b>
         <ol>
            <li>Address slipping gears, unusual noises, or other transmission-related issues.</li>
            <li>Repair or replace damaged components such as clutches or torque converters.</li><br>
         </ol>

   <h5><b>Suspension and Steering:</b></h5>
      <b>Wheel Alignment:</b>
         <ol>
            <li>Adjust wheel angles to prevent uneven tire wear and improve handling.</li>
            <li>Inspect and replace worn-out suspension components.</li>
         </ol>

      <b>Shock and Strut Replacement:</b>
         <ol>
            <li>Replace worn-out shocks and struts for improved ride comfort and handling.</li>
            <li>Inspect and replace other suspension components as needed.</li>
         </ol>

      <b>Power Steering Repair:</b>
         <ol>
            <li>Address issues with power steering fluid leaks or pump malfunctions.</li>
            <li>Repair or replace damaged power steering components.</li><br>
            </ol>
   
   <h5><b>Brake Services:</b></h5>
      <b>Brake Pad Replacement:</b>
         <ol>
            <li>Install new brake pads for improved braking performance.</li>
            <li>Inspect and lubricate brake caliper pins.</li>
         </ol>

      <b> Brake Rotor Resurfacing/Replacement:</b>
         <ol>
            <li>Resurface or replace brake rotors to ensure smooth braking.</li>
            <li>Address issues such as warping or scoring.</li>
         </ol>

      <b> Brake Caliper Repair:</b>
         <ol>
            <li>Fix sticking or malfunctioning brake calipers.</li>
            <li>Replace calipers if necessary.</li><br>
         </ol>

   <h5><b>Exhaust System Repair:</b></h5>
      <b> Exhaust Pipe Repair/Replacement:</b>
         <ol>
            <li>Weld or replace damaged exhaust pipes to address leaks.</li>
            <li>Ensure proper alignment of the exhaust system.</li>
         </ol>

      <b>Muffler Replacement:</b>
         <ol>
            <li>Install a new muffler to reduce noise levels.</li>
            <li>Inspect and address issues with the entire exhaust system.</li><br>
         </ol>

   <h5><b>Electrical System Repairs:</b></h5>
      <b>Battery Replacement:</b>
         <ol>
            <li>Install a new battery if the existing one is weak or faulty.</li>
            <li>Check the charging system for proper operation.</li>
         </ol>

      <b>Alternator Repair/Replacement:</b>
         <ol>
            <li>Address issues with the alternator, such as charging system malfunctions.</li>
            <li>Repair or replace the alternator as needed.</li>
         </ol>

      <b>Starter Motor Repair/Replacement:</b>
         <ol>
             <li>Fix issues with the starter motor, such as failure to engage.</li>
            <li>Replace the starter motor if necessary.</li><br>
         </ol>
      
   <h5><b>Heating and Air Conditioning (HVAC):</b></h5>
      <b>A/C Recharge:</b>
         <ol>
            <li>Refill refrigerant levels to ensure effective air conditioning.</li>
            <li>Inspect the A/C system for leaks.</li>
         </ol>

      <b>Heater Core Repair:</b>
         <ol>
            <li>Address issues with the heating system, such as lack of warmth.</li>
            <li>Repair or replace the heater core as needed.</li><br>
         </ol>
   
   <h5><b>Tire Services:</b></h5>
      <b>Tire Rotation:</b>
      <ol>
         <li>Rotate tires to ensure even wear and extend tire life.</li>
         <li>Check and adjust tire pressure.</li>
      </ol>

   <b>Tire Balancing:</b>
      <ol>
         <li>Balance tires to prevent vibrations and ensure a smooth ride.</li>
         <li>Address issues with imbalanced wheels.</li>
      </ol>

   <b>Tire Replacement:</b>
      <ol>
         <li>Install new tires when the tread is worn out.</li>
         <li>Recommend tires based on the vehicle's usage and the owner's preferences.</li><br>
      </ol>
   
   <h5><b>Auto Body Repairs:</b></h5>
      <b>Dent Repair:</b>
         <ol>
            <li>Use paintless dent repair or traditional methods to fix minor dents.</li>
            <li>Match paint colors for seamless repairs.</li>
         </ol>

      <b>Painting and Refinishing:</b>
         <ol>
            <li>Repaint damaged areas to match the original color.</li>
            <li>Apply clear coats for a durable finish.</li>
         </ol>

      <b>Collision Repairs:</b>
         <ol>
            <li>Assess and repair body damage from collisions.</li>
            <li>Straighten or replace damaged panels.</li><br>
         </ol>
   
   <h5><b>Windshield and Glass Repairs:</b></h5>
      <b>Windshield Replacement:</b>
         <ol>
            <li>Install a new windshield if it is cracked or shattered.</li>
            <li>Ensure proper sealing for safety.</li>
            </ol>

      <b>Chip/Crack Repair:</b>
         <ol>
            <li>Repair small chips or cracks in the windshield to prevent further damage.</li>
            <li>Use resin injection or other methods for effective repairs.</li><br>
         </ol>
      
   <h5><b>Pre-Purchase Inspections:</b></h5>
      <b> Comprehensive Inspection:</b>
         <ol>
            <li>Thoroughly inspect the vehicle's condition.</li>
            <li>Provide a detailed report on potential issues and necessary repairs.</li><br>
         </ol>
   
   <h5><b>Emergency Repairs:</b></h5>
      <b>Towing and Roadside Assistance:</b>
         <ol>
            <li>Provide towing services for vehicles that cannot be driven.</li>
            <li>Offer roadside assistance for common issues like flat tires or battery jump-starts.</li>
         </ol>
   
 </p>
</div>
{% endblock body %}